
<body>
    <h1>Ruta 1</h1>
    <p>Contenido de la ruta 1.</p>
    <p>Imagen aleatoria...</p>
    {{#if foto}}
        <a href={{foto.url}} alt="URL aleatoria">
            <img src={{foto.img}} alt="imagen aleatoria">
        </a>
    {{/if}}
</body>

